.table {
    width: 80%;
    border-collapse: collapse;
    margin-left: 15%;
    font-size: 18px;
    text-align: left;
  }
  
  .table th, .table td {
    padding: 12px;
    border: 1px solid #ddd;
  }
  
  .table thead {
    background-color: #f2f2f2;
  }
  .noSalle{
    margin-left: 15%;

  }

 .salleDel{

  margin-left:15%;

  
 }

 .alert {
  margin-left: 15%;
  width: 80%;
 }